# This workflow will run tests using node and then publish a package to GitHub Packages when a release is created
# For more information see: https://docs.github.com/en/actions/publishing-packages/publishing-nodejs-packages
name: Automation Deployment

on:
  push:
    branches : [main]

jobs:
  cicd:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
      - name: Log in to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USER }}  
          password: ${{ secrets.DOCKER_PASS }} 

      - name: Build Docker image
        run: |
          docker build -t ayiangio/node-app:latest .
      - name: Push Docker image
        run: |
          docker push ayiangio/node-app:latest

      # - name: Deploy Service
      #   uses: appleboy/ssh-action@master
      #   with:
      #     host: ${{ secrets.HOST }}
      #     username: ${{ secrets.USER }}
      #     password: ${{ secrets.PASS }}
      #     port: 22
      #     script: bash /home/yunandar/deploy.sh